<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dasher.mapper.ComplainMapper">
   <resultMap type="Complain" id="complainMap">
      <result property="id" column="id"/>
      <result property="comId" column="comId"/>
      <result property="uid" column="uid"/>
      <result property="mid" column="mid"/>
      <result property="wid" column="wid"/>
      <result property="content" column="content"/>
      <result property="comContent" column="comContent"/>
      <result property="returnMoney" column="returnMoney"/>
      <result property="deductMoney" column="deductMoney"/>
      <result property="createBy" column="createBy"/>
      <result property="createDate" column="createDate"/>
      <result property="updateBy" column="updateBy"/>
      <result property="updateDate" column="updateDate"/>
      <result property="status" column="status"/>
   </resultMap>
   
   <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="Complain">
     insert into complain(comId,uid,mid,content,createBy,createDate,status)
     values(#{comId},#{uid},#{mid},#{content},#{createBy},#{createDate},1)
   </insert>
   
   <select id="getCount" resultType="Integer" parameterType="Integer">
     select count(*)
     from complain
	 where status=#{status}
   </select>
   
   <select id="list" resultType="Complain">
     select c.*,CONCAT(u.firstName,u.lastName) as userName,u.mobilePhone,m.status as menuStatus
	 from complain c
	 join user_info u
	 on c.uid=u.uid
	 join menu m
	 on c.mid=m.mid
	 where c.status=#{status}
	 order by c.createDate desc
	 limit #{startRow},#{pageSize}
   </select>
   
   <select id="getByComId" parameterType="String" resultType="Complain">
     select * from complain where comId=#{comId}
   </select>
   
   <update id="handle" parameterType="Complain">
     update complain 
     set wid=#{wid},comContent=#{comContent},returnMoney=#{returnMoney},deductMoney=#{deductMoney},updateBy=#{updateBy},updateDate=#{updateDate},status=#{status}
     where comId=#{comId} 
   </update>
  
</mapper>
