<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dasher.mapper.EarningMapper">
   <resultMap type="Earning" id="earningMap">
     <result property="id" column="id"/>
     <result property="eid" column="eid"/>
     <result property="wid" column="wid"/>
     <result property="mid" column="mid"/>
     <result property="carriageMoney" column="carriageMoney"/>
     <result property="totalMoney" column="totalMoney"/>
     <result property="type" column="type"/>
     <result property="createBy" column="createBy"/>
     <result property="createDate" column="createDate"/>
     <result property="updateBy" column="updateBy"/>
     <result property="updateDate" column="updateDate"/>
     <result property="status" column="status"/>
   </resultMap>
   
   <insert id="add" parameterType="Earning" keyProperty="id" useGeneratedKeys="true">
    insert into earn_info(eid,wid,mid,carriageMoney,totalMoney,type,createBy,createDate,status)
    values(#{eid},#{wid},#{mid},#{carriageMoney},#{totalMoney},#{type},#{createBy},#{createDate},1)
   </insert>
   
   <update id="delete" parameterType="Earning">
    update earn_info set status=0,updateBy=#{updateBy},updateDate=#{updateDate}
    where eid=#{eid}
   </update>
   
   
   <select id="getEarnList" parameterType="String" resultType="Earning">
     select *
     from earn_info 
     where wid=#{wid} and (createDate between #{startDate} and #{endDate})
   </select>
   
   
   <select id="getEarnWeek" parameterType="String" resultType="Map">
     select sum(carriageMoney) as carriageMoney,sum(totalMoney-carriageMoney) as dishMoney
     from earn_info 
     where wid=#{wid} and (createDate between #{startDate} and #{endDate})
   </select>
   
   
   <select id="getEarnTotal" parameterType="String" resultType="Map">
     select (select sum(carriageMoney) from earn_info where wid=#{wid} and (createDate between #{startDate} and #{endDate})) as weekEarn,
     sum(e.carriageMoney) as totalEarn,sum(e.totalMoney) as totalMoney,
     u.balance as balance,max(us.createDate) as settleDate
     from earn_info e 
     left join user_info u
	 on e.wid=u.uid 
	 left join user_settle us
	 on e.wid=us.wid
     where e.wid=#{wid} 
     <if test="sigin==1">
     and us.type=2
     </if>
     group by us.createDate
   </select>
   
   <select id="getByWid" parameterType="String" resultType="Earning">
     select * from earn_info where wid=#{wid}
   </select>
   
   <select id="getByEid" parameterType="String" resultType="Earning">
     select * from earn_info where eid=#{eid}
   </select>
   
   <select id="listWeek" parameterType="String" resultType="Earning">
     select * 
     from earn_info
     where wid=#{wid}
     <if test="updateDate=''">
       and yearweek(date_format(createDate,'%Y-%m-%d'))=yearweek(now())
     </if>
     <if test="updateDate!=''">
       and yearweek(date_format(updateDate,'%Y-%m-%d'))=yearweek(now())
     </if>
     and status>0
   </select>
   
   <select id="listDay" resultType="Earning">
     select * 
     from earn_info
     where wid=#{wid}
     <if test="updateDate=''">
       and to_days(now())-to_days(createDate)=#{str}
     </if>
     <if test="updateDate!=''">
       and to_days(now())-to_days(updateDate)=#{str}
     </if>
     and status>0
   </select>
   
   <select id="listMonth" resultType="Earning">
     select * 
     from earn_info
     where wid=#{wid}
     <if test="updateDate=''">
       and date_format(createDate,'%Y-%m')=date_format(now(),'%Y-%m')
     </if>
     <if test="updateDate!=''">
       and date_format(updateDate,'%Y-%m')=date_format(now(),'%Y-%m')
     </if>
     and status>0
   </select>
   
</mapper>
