<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dasher.mapper.LoginMapper">
   <resultMap type="Login" id="loginMap">
     <result property="id" column="id"/>
     <result property="loginId" column="loginId"/>
     <result property="authCode" column="authCode"/>
     <result property="type" column="type"/>
     <result property="igtClientId" column="igtClientId"/>
     <result property="pushClientId" column="pushClientId"/>
     <result property="loginTime" column="loginTime"/>
   </resultMap>
   
   <insert id="add" parameterType="Login" keyProperty="id" useGeneratedKeys="true">
    insert into login(loginId,authCode,type,loginTime)
    values(#{loginId},#{authCode},#{type},#{loginTime})
   </insert>
   
   <insert id="updateUUID" parameterType="Login" keyProperty="id" useGeneratedKeys="true">
    insert into login(loginId,type,loginTime,pushClientId)
    values(#{loginId},#{type},#{loginTime},#{pushClientId})
   </insert>
   
   <update id="update" parameterType="Login">
    update login set authCode=#{authCode},loginTime=#{loginTime}
    where loginId=#{loginId}
   </update>
   
   <select id="getByLogId" parameterType="String" resultType="Login">
    select * from login where loginId=#{loginId}
   </select>
   
   <select id="getByAuthCode" parameterType="String" resultType="String">
    select loginId from login where authCode=#{authCode}
   </select>
   
   <update id="updateCID" parameterType="Login">
    update login set igtClientId=#{igtClientId}
    where loginId=#{loginId}
   </update>
   
   <update id="userLogout" parameterType="String">
    update login set igtClientId='',authCode=''
    where loginId=#{loginId}
   </update>
   
   <update id="updateByLoid" parameterType="Login">
    update login set authCode=#{authCode}
    where loginId=#{loginId}
   </update>
   
</mapper>
