<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dasher.mapper.MarketCommodityMapper">
   <resultMap type="MarketCommodity" id="marketCommodityMap">
     <result property="id" column="id"/>
     <result property="smid" column="smid"/>
     <result property="mcid" column="mcid"/>
     <result property="name" column="name"/>
     <result property="price" column="price"/>
     <result property="unit" column="unit"/>
     <result property="typeId" column="typeId"/>
     <result property="subscribe" column="subscribe"/>
     <result property="createBy" column="createBy"/>
     <result property="createDate" column="createDate"/>
     <result property="updateBy" column="updateBy"/>
     <result property="updateDate" column="updateDate"/>
     <result property="status" column="status"/>
   </resultMap>
   
   <insert id="add" keyProperty="id" useGeneratedKeys="true" parameterType="MarketCommodity">
     insert into market_commodity(smid,mcid,name,price,unit,typeId,subscribe,createBy,createDate,status)
     values(#{smid},#{mcid},#{name},#{price},#{unit},#{typeId},#{subscribe},#{createBy},#{createDate},1)
   </insert>
   
   <update id="update" parameterType="MarketCommodity">
     update market_commodity
     set name=#{name},price=#{price},unit=#{unit},typeId=#{typeId},subscribe=#{subscribe},updateBy=#{updateBy},updateDate=#{updateDate}
     where mcid=#{mcid} 
   </update>
   
   <update id="delete" parameterType="MarketCommodity">
     update market_commodity
     set status=0,updateBy=#{updateBy},updateDate=#{updateDate}
     where mcid=#{mcid} 
   </update>
   
   <select id="getByMcid" parameterType="String" resultType="MarketCommodity">
     select * from market_commodity where mcid=#{mcid} 
   </select>
   
   <select id="getListCount" resultType="Integer">
     select count(*) from market_commodity where status>0
     <if test="smid!=''">
      and smid=#{smid}
     </if>
     <if test="searchStr!=''">
      and name like CONCAT(CONCAT('%',#{searchStr}),'%')
     </if>
     <if test="typeId!=''">
      and typeId=#{typeId}
     </if>
   </select>
   
   <select id="list" resultType="MarketCommodity">
     select * from market_commodity where status>0
     <if test="smid!=''">
      and smid=#{smid}
     </if>
     <if test="searchStr!=''">
      and name like CONCAT(CONCAT('%',#{searchStr}),'%')
     </if>
     <if test="typeId!=''">
      and typeId=#{typeId}
     </if>
     <if test="updateDate=''">
        order by createDate desc
     </if>
     <if test="updateDate!=''">
        order by updateDate desc
     </if>
     limit #{startRow},#{pageSize}
   </select>
   
   <select id="getCountBySmid" resultType="Integer" parameterType="String">
     select count(*) from market_commodity where smid=#{smid} and status>0
   </select>
   
   <update id="deleteList" parameterType="MarketCommodity">
     update market_commodity
     set status=0,updateBy=#{updateBy},updateDate=#{updateDate}
     where smid=#{smid} 
   </update>
   
   <select id="listBySmid" resultType="MarketCommodity" parameterType="String">
    select mc.*,sdt.name as typeName
	from market_commodity mc
	join shop_dish_type sdt
	on mc.typeId=sdt.id
	where mc.smid=#{smid} and mc.status>0
   </select>
  
</mapper>
