<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dasher.mapper.MarketMenuMapper">
   <resultMap type="MarketMenu" id="marketMenuMap">
     <result property="id" column="id"/>
     <result property="mid" column="mid"/>
     <result property="smid" column="smid"/>
     <result property="uid" column="uid"/>
     <result property="wid" column="wid"/>
     <result property="dishsMoney" column="dishsMoney"/>
     <result property="carriageMoney" column="carriageMoney"/>
     <result property="taxesMoney" column="taxesMoney"/>
     <result property="serviceMoney" column="serviceMoney"/>
     <result property="tipMoney" column="tipMoney"/>
     <result property="menuCount" column="menuCount"/>
     <result property="payType" column="payType"/>
     <result property="address" column="address"/>
     <result property="longitude" column="longitude"/>
     <result property="latitude" column="latitude"/>
     <result property="mealStartDate" column="mealStartDate"/>
     <result property="mealEndDate" column="mealEndDate"/>
     <result property="startDate" column="startDate"/>
     <result property="endDate" column="endDate"/>
     <result property="createBy" column="createBy"/>
     <result property="createDate" column="createDate"/>
     <result property="updateBy" column="updateBy"/>
     <result property="updateDate" column="updateDate"/>
     <result property="status" column="status"/>
   </resultMap>
   
   <insert id="add" keyProperty="id" useGeneratedKeys="true" parameterType="MarketMenu">
     insert into market_menu(mid,smid,uid,dishsMoney,carriageMoney,taxesMoney,serviceMoney,tipMoney,menuCount,payType,address,longitude,latitude,mealStartDate,mealEndDate,createBy,createDate,status)
     values(#{mid},#{smid},#{uid},#{dishsMoney},#{carriageMoney},#{taxesMoney},#{serviceMoney},#{tipMoney},#{menuCount},#{payType},#{address},#{longitude},#{latitude},#{mealStartDate},#{mealEndDate},#{createBy},#{createDate},1)
   </insert>
   
   <update id="receive" parameterType="MarketMenu">
     update market_menu 
     set wid=#{wid},startDate=#{startDate},updateBy=#{updateBy},updateDate=#{updateDate},status=2
     where mid=#{mid}
   </update>
   
   <update id="updateStatus" parameterType="MarketMenu">
	 update market_menu 
	 set status=#{status},updateBy=#{updateBy},updateDate=#{updateDate}
	 where mid=#{mid}
   </update>
   
   <select id="getCount" resultType="Integer">
      select count(*)
      from market_menu
      where 1=1
      <if test="status!=''">
		and status=#{status}
      </if>
	  <if test="smid!=''">
		and smid=#{smid}
      </if>
	  <if test="searchStr!=''">
		and address like CONCAT(CONCAT('%',#{searchStr}),'%')
      </if>
      <if test="startDate!='' and endDate!=''">
		and endDate between #{startDate} and #{endDate}
      </if>
   </select>
   
   <select id="list" resultType="MarketMenu">
      select mm.* ,m.name as marketName,concat(u.firstName,u.lastName) as userName,concat(u2.firstName,u2.lastName) as serverName
	  from market_menu as mm
	  left join market_info as m
	  on mm.smid=m.smid
	  left join user_info as u
	  on mm.uid=u.uid
	  left join user_info u2
	  on mm.wid=u2.uid
      where 1=1
      <if test="status!=''">
		and mm.status=#{status}
      </if>
	  <if test="smid!=''">
		and mm.smid=#{smid}
      </if>
	  <if test="searchStr!=''">
		and mm.address like CONCAT(CONCAT('%',#{searchStr}),'%')
      </if>
      <if test="startDate!='' and endDate!=''">
		and endDate between #{startDate} and #{endDate}
      </if>
      <if test="status=='3'">
		limit #{startRow},#{pageSize}
      </if>
      
   </select>
   
   <select id="getByMid" resultType="MarketMenu" parameterType="MarketMenu">
      select mm.* ,m.name as marketName,concat(u.firstName,u.lastName) as userName,concat(u2.firstName,u2.lastName) as serverName
	  from market_menu as mm
	  join market_info as m
	  on mm.smid=m.smid
	  join user_info as u
	  on mm.uid=u.uid
	  left join user_info u2
	  on mm.wid=u2.uid
      where mm.mid=#{mid}
   </select>
   
   <select id="getListByUidCount" resultType="Integer">
      select count(*) 
      from market_menu
      where 1=1
      <if test="type==0 and searchStr!=''">
		and uid=#{searchStr}
      </if>
	  <if test="type==1 and searchStr!=''">
		and wid=#{searchStr}
      </if>
   </select>
   
   <select id="getListByUid" resultType="MarketMenu">
      select mm.* ,m.name as marketName,concat(u.firstName,u.lastName) as userName,concat(u2.firstName,u2.lastName) as serverName
	  from market_menu as mm
	  join market_info as m
	  on mm.smid=m.smid
	  join user_info as u
	  on mm.uid=u.uid
	  left join user_info u2
	  on mm.wid=u2.uid
      where 1=1
      <if test="type==0 and searchStr!=''">
		and mm.uid=#{searchStr}
      </if>
	  <if test="type==1 and searchStr!=''">
		and mm.wid=#{searchStr}
      </if>
	  limit #{curPage},#{countPage}
   </select>
   
   <select id="ListByUid" resultType="MarketMenu">
      select mm.* ,m.name as marketName,concat(u.firstName,u.lastName) as userName,concat(u2.firstName,u2.lastName) as serverName
	  from market_menu as mm
	  join market_info as m
	  on mm.smid=m.smid
	  join user_info as u
	  on mm.uid=u.uid
	  left join user_info u2
	  on mm.wid=u2.uid
      where 1=1
      <if test="searchStr!=''">
		and mm.uid=#{searchStr}
      </if>
	  <if test="type!=''">
		and mm.status=#{type}
      </if>
   </select>
   
   <update id="updateDate" parameterType="MarketMenu">
     update market_menu 
     set mealStartDate=#{mealStartDate},mealEndDate=#{mealEndDate},updateBy=#{updateBy},updateDate=#{updateDate}
     where mid=#{mid}
   </update>
  
</mapper>
