<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dasher.mapper.MarketMapper">
   <resultMap type="Market" id="marketMap">
     <result property="id" column="id"/>
     <result property="smid" column="smid"/>
     <result property="name" column="name"/>
     <result property="address" column="address"/>
     <result property="subscribe" column="subscribe"/>
     <result property="email" column="email"/>
     <result property="phone" column="phone"/>
     <result property="serviceTime" column="serviceTime"/>
     <result property="longitude" column="longitude"/>
     <result property="latitude" column="latitude"/>
     <result property="goodEvaluate" column="goodEvaluate"/>
     <result property="badEvaluate" column="badEvaluate"/>
     <result property="createBy" column="createBy"/>
     <result property="createDate" column="createDate"/>
     <result property="updateBy" column="updateBy"/>
     <result property="updateDate" column="updateDate"/>
     <result property="status" column="status"/>
   </resultMap>
   
   <insert id="add" keyProperty="id" useGeneratedKeys="true" parameterType="Market">
      insert into market_info(smid,name,address,subscribe,email,phone,serviceTime,longitude,latitude,createBy,createDate,status)
      values(#{smid},#{name},#{address},#{subscribe},#{email},#{phone},#{serviceTime},#{longitude},#{latitude},#{createBy},#{createDate},1)
   </insert>
   
   <update id="update" parameterType="Market">
      update market_info
      set address=#{address},subscribe=#{subscribe},email=#{email},phone=#{phone},serviceTime=#{serviceTime},longitude=#{longitude},latitude=#{latitude},updateBy=#{updateBy},updateDate=#{updateDate}
      where smid=#{smid}
   </update>
   
   <update id="delete" parameterType="Market">
      update market_info
      set status=0,updateBy=#{updateBy},updateDate=#{updateDate}
      where smid=#{smid}
   </update>
   
   <select id="getBySmid" parameterType="String" resultType="Market">
      select * from market_info where smid=#{smid}
   </select>
   
   <select id="getByMarketName" parameterType="String" resultType="Market">
      select * from market_info where name=#{name} and status>0
   </select>
   
   <select id="getListCount" parameterType="String" resultType="Integer">
       select count(*) from market_info where status>0
       <if test="searchStr!=''">
         and name like CONCAT(CONCAT('%',#{searchStr}),'%')
       </if>
   </select>
   
   <select id="list" resultType="Market">
       select * from market_info where status>0
       <if test="searchStr!=''">
         and name like CONCAT(CONCAT('%',#{searchStr}),'%')
       </if>
       limit #{startRow},#{pageSize}
   </select>
   
   <select id="menuList" resultType="Market">
       select smid,name from market_info where status>0
   </select>
  
</mapper>
