<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dasher.mapper.MenuMapper">
	<resultMap type="Menu" id="menuMap">
		<result property="id" column="id" />
		<result property="mid" column="mid" />
		<result property="sid" column="sid" />
		<result property="uid" column="uid" />
		<result property="wid" column="wid" />
		<result property="dishsMoney" column="dishsMoney" />
		<result property="carriageMoney" column="carriageMoney" />
		<result property="taxesMoney" column="taxesMoney" />
		<result property="serviceMoney" column="serviceMoney" />
		<result property="tipMoney" column="tipMoney" />
		<result property="menuCount" column="menuCount" />
		<result property="payType" column="payType" />
		<result property="mealStartDate" column="mealStartDate" />
		<result property="mealEndDate" column="mealEndDate" />
		<result property="address" column="address" />
		<result property="longitude" column="longitude" />
		<result property="latitude" column="latitude" />
		<result property="createBy" column="createBy" />
		<result property="createDate" column="createDate" />
		<result property="updateBy" column="updateBy" />
		<result property="updateDate" column="updateDate" />
		<result property="startDate" column="startDate" />
		<result property="endDate" column="endDate" />
		<result property="status" column="status" />
	</resultMap>

	<insert id="add" parameterType="Menu" keyProperty="id"
		useGeneratedKeys="true">
		insert into
		menu(mid,sid,uid,dishsMoney,carriageMoney,taxesMoney,serviceMoney,tipMoney,menuCount,payType,mealStartDate,mealEndDate,address,longitude,latitude,createBy,createDate,status)
		values(#{mid},#{sid},#{uid},#{dishsMoney},#{carriageMoney},#{taxesMoney},#{serviceMoney},#{tipMoney},#{menuCount},#{payType},#{mealStartDate},#{mealEndDate},#{address},#{longitude},#{latitude},#{createBy},#{createDate},1)
	</insert>

	<update id="receive" parameterType="Menu">
		update menu set
		wid=#{wid},startDate=#{startDate},updateBy=#{updateBy},updateDate=#{updateDate},status=2
		where mid=#{mid}
   </update>

   <update id="updateStatus" parameterType="Menu">
		update menu set
		status=#{status},updateBy=#{updateBy},updateDate=#{updateDate}
		where mid=#{mid}
   </update>

   <select id="getCount" resultType="Integer">
		select count(*) from menu where 1=1
		<if test="status!=''">
			and status=#{status}
        </if>
		<if test="sid!=''">
			and sid=#{sid}
        </if>
		<if test="searchStr!=''">
			and address like CONCAT(CONCAT('%',#{searchStr}),'%')
        </if>
		<if test="startDate!='' and endDate!=''">
			and endDate between #{startDate} and #{endDate}
        </if>
	</select>

	<select id="list" resultType="Menu">
	    <!--select * from menu where 1=1-->
		select m.*,s.name as shopName,concat(u.firstName,u.lastName) as userName,
			concat(u2.firstName,u2.lastName) as serverName
		from menu m
		left join shop_info s
		on m.sid=s.sid
		left join user_info u
		on m.uid=u.uid
		left join user_info u2
	    on m.wid=u2.uid
		where 1=1
		<if test="status!=''">
			and m.status=#{status}
        </if>
          
		<if test="sid!=''">
			and m.sid=#{sid}
        </if>
		<if test="searchStr!=''">
			and m.address like CONCAT(CONCAT('%',#{searchStr}),'%')
        </if>
		<if test="startDate!='' and endDate!=''">
			and endDate between #{startDate} and #{endDate}
        </if>
        <if test="status=='3'">
			limit #{curPage},#{countPage}
        </if>
		
	</select>

	<select id="getListByUidCount" resultType="Integer">
		select count(*) from menu where 1=1
		<if test="type==0 and searchStr!=''">
			and uid=#{searchStr}
        </if>
		<if test="type==1 and searchStr!=''">
			and wid=#{searchStr}
        </if>
	</select>

	<select id="getListByUid" resultType="Menu">
		<!--select * from menu where 1=1-->
		select m.*,s.name as shopName,concat(u.firstName,u.lastName) as userName
		from menu m
		join shop_info s
		on m.sid=s.sid
		join user_info u
		on m.uid=u.uid
		where 1=1
		<if test="type==0 and searchStr!=''">
			and m.uid=#{searchStr}
        </if>
		<if test="type==1 and searchStr!=''">
			and m.wid=#{searchStr}
        </if>
		limit #{curPage},#{countPage}
	</select>

	<select id="getByMid" resultType="Menu" parameterType="String">
		<!--select * from menu where mid=#{mid} and status>0-->
		select m.*,s.name as shopName,concat(u.firstName,u.lastName) as userName
		from menu m
		join shop_info s
		on m.sid=s.sid
		join user_info u
		on m.uid=u.uid
		where m.mid=#{mid} and m.status>0
	</select>
	
	<select id="listByStatus" resultType="Menu">
		select m.*,s.name as shopName,concat(u.firstName,u.lastName) as userName
		from menu m
		join shop_info s
		on m.sid=s.sid
		join user_info u
		on m.uid=u.uid
		where m.uid=#{uid}
		<if test="status!=''">
		    and m.status=#{status}
        </if>
		limit #{curPage},#{countPage}
	</select>
	
	<select id="CountByStatus" resultType="Integer">
		select count(*)
		from menu
		where uid=#{uid}
		<if test="status!=''">
			and status=#{status}
        </if>
	</select>
	
	<update id="updateMealDate" parameterType="Menu">
		update menu set
		mealStartDate=#{mealStartDate},mealEndDate=#{mealEndDate},updateBy=#{updateBy},updateDate=#{updateDate}
		where mid=#{mid} and status=1
    </update>
    
    <select id="getListByStr" resultType="Menu">
		select m.*,s.name as shopName,concat(u.firstName,u.lastName) as userName,concat(u2.firstName,u2.lastName) as serverName
		from menu m
		join shop_info s
		on m.sid=s.sid
		join user_info u
		on m.uid=u.uid
        left join user_info u2
		on m.wid=u2.uid
		where m.uid=#{uid} and m.status=#{status} and m.status>0
	</select>
    
    <select id="getNearlist" resultType="Menu">
		select m.*,s.name as shopName,concat(u.firstName,u.lastName) as userName,concat(u2.firstName,u2.lastName) as serverName
		from menu m
		join shop_info s
		on m.sid=s.sid
		join user_info u
		on m.uid=u.uid
        left join user_info u2
		on m.wid=u2.uid
		where (m.longitude between #{minlon} and #{maxlon}) 
		and (m.latitude between #{minlat} and #{maxlat}) 
		and m.status>0
	</select>

	
</mapper>
