Dasher/.mymetadata
Dasher/.settings/*
Dasher/logs/*
Dasher/WebRoot/WEB-INF/classes/**
Dasher/.mymetadata
Dasher/WebRoot/jetty.xml
Dasher/logs/dasher.log
Dasher/WebRoot/jetty.xml
Dasher/logs/dasher.log
Dasher/WebRoot/jetty.xml
Dasher/logs/dasher.log
Dasher/.myeclipse/**
Dasher/pom.xml
Dasher/target/**
Dasher/.classpath
Dasher/WebRoot/WEB-INF/upload/shop/dish/*
Dasher/WebRoot/WEB-INF/upload/shop/images/*
