<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dasher.mapper.MarketMenuMapper">
   <resultMap type="MarketMenu" id="marketMenuMap">
     <result property="id" column="id"/>
     <result property="mid" column="mid"/>
     <result property="smid" column="smid"/>
     <result property="uid" column="uid"/>
     <result property="wid" column="wid"/>
     <result property="dishsMoney" column="dishsMoney"/>
     <result property="carriageMoney" column="carriageMoney"/>
     <result property="taxesMoney" column="taxesMoney"/>
     <result property="serviceMoney" column="serviceMoney"/>
     <result property="tipMoney" column="tipMoney"/>
     <result property="menuCount" column="menuCount"/>
     <result property="payType" column="payType"/>
     <result property="address" column="address"/>
     <result property="distance" column="distance"/>
     <result property="direction" column="direction"/>
     <result property="longitude" column="longitude"/>
     <result property="latitude" column="latitude"/>
     <result property="mealStartDate" column="mealStartDate"/>
     <result property="mealEndDate" column="mealEndDate"/>
     <result property="startDate" column="startDate"/>
     <result property="endDate" column="endDate"/>
     <result property="createBy" column="createBy"/>
     <result property="createDate" column="createDate"/>
     <result property="updateBy" column="updateBy"/>
     <result property="updateDate" column="updateDate"/>
     <result property="status" column="status"/>
     <result property="cancleDate" column="cancleDate" />
	 <result property="overTimeDate" column="overTimeDate" />
	 <result property="complainDate" column="complainDate" />
   </resultMap>
   
   <insert id="add" keyProperty="id" useGeneratedKeys="true" parameterType="MarketMenu">
     insert into market_menu(mid,smid,uid,dishsMoney,distance,direction,carriageMoney,taxesMoney,serviceMoney,tipMoney,menuCount,payType,address,longitude,latitude,mealStartDate,mealEndDate,createBy,createDate,status)
     values(#{mid},#{smid},#{uid},#{dishsMoney},#{distance},#{direction},#{carriageMoney},#{taxesMoney},#{serviceMoney},#{tipMoney},#{menuCount},#{payType},#{address},#{longitude},#{latitude},#{mealStartDate},#{mealEndDate},#{createBy},#{createDate},1)
   </insert>
   
   <update id="receive" parameterType="MarketMenu">
     update market_menu 
     set wid=#{wid},startDate=#{startDate},updateBy=#{updateBy},updateDate=#{updateDate},status=2
     where mid=#{mid}
   </update>
   
   <update id="updateStatus" parameterType="MarketMenu">
   		<if test="status==3 or status==7 or status==8 or status==9">
   			update market_menu set
			status=#{status},endDate=#{endDate}
			where mid=#{mid}
   		</if>
   		<if test="status==4">
   			update market_menu set
			status=#{status},cancleDate=#{cancleDate}
			where mid=#{mid}
   		</if>
   		<if test="status==5">
   			update market_menu set
			status=#{status},complainDate=#{complainDate}
			where mid=#{mid}
   		</if>
   </update>
   
   <select id="getCount" resultType="Integer">
      select count(*)
      from market_menu
      where 1=1
      <if test="status!=''">
		and status=#{status}
      </if>
	  <if test="smid!=''">
		and smid=#{smid}
      </if>
	  <if test="searchStr!=''">
		and address like CONCAT(CONCAT('%',#{searchStr}),'%')
      </if>
      <if test="startDate!='' and endDate!=''">
		and endDate between #{startDate} and #{endDate}
      </if>
   </select>
   
   <select id="list" resultType="MarketMenu">
      select mm.* ,m.name as marketName,concat(u.firstName,u.lastName) as userName,concat(u2.firstName,u2.lastName) as serverName
	  from market_menu as mm
	  left join market_info as m
	  on mm.smid=m.smid
	  left join user_info as u
	  on mm.uid=u.uid
	  left join user_info u2
	  on mm.wid=u2.uid
      where 1=1
      <if test="status!=''">
		and mm.status=#{status}
      </if>
	  <if test="smid!=''">
		and mm.smid=#{smid}
      </if>
	  <if test="searchStr!=''">
		and mm.address like CONCAT(CONCAT('%',#{searchStr}),'%')
      </if>
      <if test="startDate!='' and endDate!=''">
		and endDate between #{startDate} and #{endDate}
      </if>
      <if test="status=='3'">
		limit #{startRow},#{pageSize}
      </if>
      
   </select>
   
   <select id="getByMid" resultType="MarketMenu" parameterType="MarketMenu">
	  select mm.*,m.name as shopName,m.address as shopAddress,m.longitude as shopLongitude,m.latitude as shopLatitude,
			concat(u.firstName,u.lastName) as userName,u.logo as userLogo,u.mobilePhone as userPhone,
			concat(u2.firstName,u2.lastName) as serverName,u2.logo as serverLogo,u2.mobilePhone as serverPhone
	  from market_menu as mm
	  join market_info as m
	  on mm.smid=m.smid
	  join user_info as u
	  on mm.uid=u.uid
	  left join user_info u2
	  on mm.wid=u2.uid
      where mm.mid=#{mid}
   </select>
   
   <select id="getListByUidCount" resultType="Integer">
      select count(*) 
      from market_menu
      where 1=1
      <if test="type==0 and searchStr!=''">
		and uid=#{searchStr}
      </if>
	  <if test="type==1 and searchStr!=''">
		and wid=#{searchStr}
      </if>
   </select>
   
   <select id="getListByUid" resultType="MarketMenu">
      select mm.*,m.name as shopName,m.address as shopAddress,m.longitude as shopLongitude,m.latitude as shopLatitude,
			concat(u.firstName,u.lastName) as userName,u.logo as userLogo,u.mobilePhone as userPhone,
			concat(u2.firstName,u2.lastName) as serverName,u2.logo as serverLogo,u2.mobilePhone as serverPhone
      from market_menu as mm
	  join market_info as m
	  on mm.smid=m.smid
	  join user_info as u
	  on mm.uid=u.uid
	  left join user_info u2
	  on mm.wid=u2.uid
      where 1=1
      <if test="type==0 and searchStr!=''">
		and mm.uid=#{searchStr}
      </if>
	  <if test="type==1 and searchStr!=''">
		and mm.wid=#{searchStr}
      </if>
	  limit #{curPage},#{countPage}
   </select>
   
   <select id="ListByUid" resultType="MarketMenu">
      select mm.*,m.name as shopName,m.address as shopAddress,m.longitude as shopLongitude,m.latitude as shopLatitude,
			concat(u.firstName,u.lastName) as userName,u.logo as userLogo,u.mobilePhone as userPhone,
			concat(u2.firstName,u2.lastName) as serverName,u2.logo as serverLogo,u2.mobilePhone as serverPhone
      from market_menu as mm
	  join market_info as m
	  on mm.smid=m.smid
	  join user_info as u
	  on mm.uid=u.uid
	  left join user_info u2
	  on mm.wid=u2.uid
      where 
      <if test="userType==1">
      	mm.uid=#{searchStr}
      </if>
       <if test="userType==2">
      	mm.wid=#{searchStr}
      </if>
      	<if test="type==1">
			and (mm.status=1 or mm.status=2)
		</if>
		<if test="type==2">
			and mm.status=3
		</if>
		<if test="type==3">
			and mm.status not in (1,2,3)
		</if>
		order by createDate desc
   </select>
   
   <update id="updateDate" parameterType="MarketMenu">
     update market_menu 
     set mealStartDate=#{mealStartDate},mealEndDate=#{mealEndDate},updateBy=#{updateBy},updateDate=#{updateDate}
     where mid=#{mid}
   </update>
   
   <select id="getNearlist" resultType="MarketMenu">
	 select *,s.name as shopName,concat(u.firstName,u.lastName) as userName
     from market_menu m
     join market_info s
		on m.smid=s.smid
		join user_info u
		on m.uid=u.uid
     where (m.longitude between #{minlon} and #{maxlon}) 
     and (m.latitude between #{minlat} and #{maxlat}) 
     and m.status=1
	</select>
   <select id="getNearListSmid" resultType="MarketMenu">
	 select mm.*,m.name as shopName,m.address as shopAddress,m.longitude as shopLongitude,m.latitude as shopLatitude,
			concat(u.firstName,u.lastName) as userName,u.logo as userLogo,u.mobilePhone as userPhone
     from market_menu m
     join market_info s
		on m.smid=s.smid
		join user_info u
		on m.uid=u.uid
     where m.smid=#{smid}
     and m.status=1
	</select>
	<select id="getListOverTime" resultType="MarketMenu">
		select *
		from market_menu 
		where mealEndDate &lt; #{mealEndDate}
		and status=1
	</select>
	
	<update id="updateOverTime" parameterType="String">
		update market_menu set status=6,overTimeDate=#{updateDate}
		where mealEndDate &lt; #{mealEndDate}
		and status=1
	</update>
  
</mapper>
