<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dasher.mapper.ShopDishMapper">
   <resultMap type="ShopDish" id="shopDishMap">
     <result property="id" column="id"/>
     <result property="sid" column="sid"/>
     <result property="did" column="did"/>
     <result property="name" column="name"/>
     <result property="price" column="price"/>
     <result property="typeId" column="typeId"/>
     <result property="chilies" column="chilies"/>
     <result property="description" column="description"/>
     <result property="createBy" column="createBy"/>
     <result property="createDate" column="createDate"/>
     <result property="updateBy" column="updateBy"/>
     <result property="updateDate" column="updateDate"/>
     <result property="status" column="status"/>
   </resultMap>
  
   <insert id="add" keyProperty="id" useGeneratedKeys="true" parameterType="ShopDish">
     insert into shop_dish(sid,did,name,price,typeId,chilies,description,createBy,createDate,status)
     values(#{sid},#{did},#{name},#{price},#{typeId},#{chilies},#{description},#{createBy},#{createDate},1)
   </insert>
   
   <update id="update" parameterType="ShopDish">
     update shop_dish 
     set name=#{name},price=#{price},typeId=#{typeId},chilies=#{chilies},description=#{description},updateBy=#{updateBy},updateDate=#{updateDate}
     where did=#{did}
   </update>
   
   <update id="delete" parameterType="ShopDish">
     update shop_dish 
     set status=0,updateBy=#{updateBy},updateDate=#{updateDate}
     where did=#{did}
   </update>
   
   <select id="getByDid" parameterType="String" resultType="ShopDish">
     select * from shop_dish where did=#{did} and status>0
   </select>
   
   <select id="getShopDishCount" resultType="Integer" >
     select count(*) from shop_dish 
     where status>0
     <if test="searchStr!=''">
       and name like CONCAT(CONCAT('%',#{searchStr}),'%')
     </if>
     <if test="sid!=''">
       and sid=#{sid}
     </if>
     <if test="typeId!=0">
       and typeId=#{typeId}
     </if>
   </select>
   
   <select id="list" resultType="ShopDish">
      select sd.*,sdt.name as typeName
      from shop_dish sd
      join shop_dish_type sdt 
      on sd.typeId=sdt.id
      where sd.status>0
     <if test="searchStr!=''">
       and sd.name like CONCAT(CONCAT('%',#{searchStr}),'%')
     </if>
     <if test="sid!=''">
       and sd.sid=#{sid}
     </if>
     <if test="typeId!=0">
       and sd.typeId=#{typeId}
     </if>
     <if test="updateDate=''">
        order by sd.createDate desc
     </if>
     <if test="updateDate!=''">
        order by sd.updateDate desc
     </if>
     limit #{startRow},#{pageSize}
   </select>
   
   <update id="deleteList" parameterType="ShopDish">
     update shop_dish 
     set status=0,updateBy=#{updateBy},updateDate=#{updateDate}
     where sid=#{sid}
   </update>
   
   <select id="listBySid" parameterType="String" resultType="ShopDish">
     select sd.*,sdt.name as typeName
     from shop_dish sd
     join shop_dish_type sdt
     on sd.typeId=sdt.id
     where sd.sid=#{sid} and sd.status>0
   </select>
   
   <select id="getCountBySid" parameterType="String" resultType="Integer">
     select count(*)
     from shop_dish
     where sid=#{sid} and status>0
   </select>
   
</mapper>
