<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dasher.mapper.ShopMapper">
   <resultMap type="Shop" id="shopMap">
     <result property="id" column="id"/>
     <result property="sid" column="sid"/>
     <result property="name" column="name"/>
     <result property="typeTab" column="typeTab"/>
     <result property="address" column="address"/>
     <result property="subscribe" column="subscribe"/>
     <result property="email" column="email"/>
     <result property="phone" column="phone"/>
     <result property="logo" column="logo"/>
     <result property="longitude" column="longitude"/>
     <result property="latitude" column="latitude"/>
     <result property="goodEvaluate" column="goodEvaluate"/>
     <result property="badEvaluate" column="badEvaluate"/>
     <result property="createBy" column="createBy"/>
     <result property="createDate" column="createDate"/>
     <result property="updateBy" column="updateBy"/>
     <result property="updateDate" column="updateDate"/>
     <result property="status" column="status"/>
   </resultMap>
   
   <insert id="add" keyProperty="id" useGeneratedKeys="true" parameterType="Shop">
     insert into shop_info(sid,name,typeTab,address,subscribe,email,phone,logo,longitude,latitude,createBy,createDate,status) 
     values(#{sid},#{name},#{typeTab},#{address},#{subscribe},#{email},#{phone},#{logo},#{longitude},#{latitude},#{createBy},#{createDate},1)
   </insert>
   
   <select id="getBySid" parameterType="String" resultType="Shop">
     select * from shop_info where sid=#{sid} and status>0
   </select>
   
   <select id="getByName" parameterType="String" resultType="Shop">
     select * from shop_info where name=#{name} and status>0
   </select>
   
   <update id="update" parameterType="Shop">
     update shop_info 
     set name=#{name},typeTab=#{typeTab},address=#{address},subscribe=#{subscribe},email=#{email},phone=#{email},logo=#{email},longitude=#{longitude},latitude=#{latitude},updateBy=#{updateBy},updateDate=#{updateDate}
     where sid=#{sid} and status>0
   </update>
   
   <update id="delete" parameterType="Shop">
     update shop_info 
     set status=0,updateBy=#{updateBy},updateDate=#{updateDate}
     where sid=#{sid}
   </update>
   
   <select id="getListByLati" resultType="Shop">
     select * from shop_info
     where longitude>#{0} and latitude>#{1}
     limit #{2},#{3}
   </select>
   
   <select id="list" resultType="Shop">
     select * from shop_info
     where 1=1
     <if test="#{searchStr!=''}">
       and name like CONCAT(CONCAT('%',#{0}),'%')
     </if>
     limit #{1},#{2}
   </select>
  
</mapper>
