<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dasher.mapper.UserMapper">
   <resultMap type="User" id="userMap">
     <result property="id" column="id"/>
     <result property="uid" column="uid" />
     <result property="firstName" column="firstName" />
     <result property="lastName" column="lastName" />
     <result property="account" column="account" />
	 <result property="password" column="password" />
	 <result property="salt" column="salt" />
	 <result property="equmentNumber" column="equmentNumber" />
	 <result property="logo" column="logo" />
	 <result property="balance" column="balance" />
	 <result property="mobilePhone" column="mobilePhone" />
	 <result property="email" column="email" />
	 <result property="address" column="address" />
	 <result property="longitude" column="longitude" />
	 <result property="latitude" column="latitude" />
	 <result property="goodEvaluate" column="goodEvaluate" />
	 <result property="badEvaluate" column="badEvaluate" />
	 <result property="createDate" column="createDate" />
	 <result property="status" column="status" />
   </resultMap>
   
  
</mapper>
