<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <typeAliases>
  		<typeAlias type="com.dasher.model.User" alias="User" />
  		<typeAlias type="com.dasher.model.UserAddress" alias="UserAddress" />
  		<typeAlias type="com.dasher.model.UserSettle" alias="UserSettle" />
  		<typeAlias type="com.dasher.model.Complain" alias="Complain" />
  		<typeAlias type="com.dasher.model.ComplainDeal" alias="ComplainDeal" />
  		<typeAlias type="com.dasher.model.Login" alias="Login" />
  	    <typeAlias type="com.dasher.model.Manager" alias="Manager" />
  	    <typeAlias type="com.dasher.model.Market" alias="Market" />
  	    <typeAlias type="com.dasher.model.MarketCommodity" alias="MarketCommodity" />
  	    <typeAlias type="com.dasher.model.MarketMenu" alias="MarketMenu" />
  	    <typeAlias type="com.dasher.model.MarketMenuRecord" alias="MarketMenuRecord" />
  	    <typeAlias type="com.dasher.model.Menu" alias="Menu" />
  		<typeAlias type="com.dasher.model.MenuDish" alias="MenuDish" />
  		<typeAlias type="com.dasher.model.MenuEvaluate" alias="MenuEvaluate" />
  	    <typeAlias type="com.dasher.model.ServerSettle" alias="ServerSettle" />
  		<typeAlias type="com.dasher.model.Shop" alias="Shop" />
  		<typeAlias type="com.dasher.model.ShopDish" alias="ShopDish" />
  		<typeAlias type="com.dasher.model.ShopDishType" alias="ShopDishType" />
  		<typeAlias type="com.dasher.model.ShopType" alias="ShopType" />
  		<typeAlias type="com.dasher.model.Time" alias="Time" />
  	</typeAliases>
 	<mappers>
	    <mapper resource="com/dasher/mapper/UserMapper.xml" />
	    <mapper resource="com/dasher/mapper/UserAddressMapper.xml" />
	    <mapper resource="com/dasher/mapper/UserSettleMapper.xml" />
	    <mapper resource="com/dasher/mapper/ComplainMapper.xml" />
	    <mapper resource="com/dasher/mapper/ComplainDealMapper.xml" />
	    <mapper resource="com/dasher/mapper/LoginMapper.xml" />
	    <mapper resource="com/dasher/mapper/ManagerMapper.xml" />
	    <mapper resource="com/dasher/mapper/MarketMapper.xml" />
	    <mapper resource="com/dasher/mapper/MarketCommodityMapper.xml" />
	    <mapper resource="com/dasher/mapper/MarketMenuMapper.xml" />
	    <mapper resource="com/dasher/mapper/MarketMenuRecordMapper.xml" />
	    <mapper resource="com/dasher/mapper/MenuMapper.xml" />
	    <mapper resource="com/dasher/mapper/MenuDishMapper.xml" />
	    <mapper resource="com/dasher/mapper/MenuEvaluateMapper.xml" />
	    <mapper resource="com/dasher/mapper/ServerSettleMapper.xml" />
	    <mapper resource="com/dasher/mapper/ShopMapper.xml" />
	    <mapper resource="com/dasher/mapper/ShopDishMapper.xml" />
	    <mapper resource="com/dasher/mapper/ShopDishTypeMapper.xml" />
	    <mapper resource="com/dasher/mapper/ShopTypeMapper.xml" />
	    <mapper resource="com/dasher/mapper/TimeMapper.xml" />
	</mappers>	
	
</configuration>

